{% extends "app/layout.html" %}

{% block content %}
<h2>Your Books</h2>
<body>
 
    {% for book in books%}
    <table>
    <tr>
        <td><form action="/{{userid}}/{{book.id}}/viewbook">
    <input type="submit" value="{{book.name}}" />
    </form></td>
    <td>
     <a href="/{{userid}}/{{book.id}}/deletebook">Delete</a>
    </td>
    </tr>
    </table>
   
    
    {% endfor %}
    <form action="/{{userid}}/newbook">
    <input type="submit" value="Add Another Book" />
    </form>
   
</body>
{% endblock %}