{% extends "app/layout.html" %}

{% block content %}
<form method="post">
   
    {% csrf_token %}
<h2>{{form1.instance.name}} </h2>
    {{form1.name.as_hidden}}
    
<h3>
    Current Grade = {{form1.instance.current_mark}}
    <br />

    Target Grade = {{form1.goal_mark}} <button type="submit" name="update">Update</button></h3> 
<br />
</form>
<body>
    <form method="post">
    {% csrf_token %}
    {{ form.management_form }}

    {% for forms in form %}
        <p>{{forms.as_table}}<button type="submit">Save</button> {% if forms.instance.required_mark != None %}  Required = {{forms.instance.required_mark}} {% endif %} </p>  
        
    {%endfor%}
    </form>

</body>
{% endblock %}